@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400;1,500;1,600&display=swap');

:root{
    --cor-primaria : #e20058;
    --cor-secundaria : #3c1642;
    --cor-escura-principal : #000;
    --cor-clara-principal : #f0efeb;
    --cor-escura : #312244;

}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--cor-clara-principal);
    padding-left: 30rem;
}

section{ 

}

header {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0; 
    background: var(--cor-secundaria);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 8rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo { 
    text-transform: uppercase;
    color: var(--cor-clara-principal);
    font-size: 3rem;
    text-decoration: none;
}

header .logo span {
    text-transform: uppercase;
    color: var(--cor-primaria);
    font-weight: bold;
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: var(--cor-clara-principal);
    text-decoration: none;
    margin: 35px;

}

header .navbar a:hover {
    letter-spacing: .2rem;
    color: var(--cor-primaria);
}

header .follow a{
    font-size: 2.5rem;
    color: var(--cor-clara-principal);
    margin: 0 .7rem;
}

header .follow a img{
    margin: 5px;
}